/* ヘッダー */
header {
  display: flex;
  justify-content: space-between;
}

#logo-sp{
margin: 80px,0px,30px,20px;
}
  /*================
  PC用のスタイル
  =================*/
@media screen and (min-width: 767px) {
   /* 横幅設定 */
   /* スマホ用nav */
   body {
    min-width: 375px;
    margin: 0 ;
  }
  #nav-sp{
  display: none;
  }
  #menu-sp{
    float:right;
    padding: 0;
  }
  
/*====================
  スマートフォン用のスタイル
  =====================*/
  @media screen and (max-width: 767px) {
  
  }
  /*====================
  スマートフォン用ナビゲーション	
  =====================*/
  #nav-sp{
    background-color: #ce933e;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    z-index:100;
  }  
